<div class="container flex flex-col gap-4 mx-auto px-4 py-8  bg-white bg-opacity-80 shadow-md rounded-md">
    
    <div class=" m-5 py-1 pl-2 border-b-2 border-b-maincolor font-Inika text-2xl w-48 ">Shopping Cart</div>

	{{#if cart_result}}
		{{#each cart_result}}
		
		<div class="flex flex-col bg-tertiary p-2 mx-5 rounded-md ">
			
			<div class="grid grid-cols-5 gap-2 h-[300px]">
			
				
				<div class="flex flex-wrap my-auto justify-center">
				<a href="/product?name={{this.product.name}}&id={{this.product._id}}">
					<img  class="w-auto max-h-[300px] mx-auto my-auto" src={{this.product.productpic}}>
				</a>
				</div>

				<div class="col-span-4 ">
					<div class="bg-dirty-white h-[60px] w-full mt-[70px] mb-[50px] rounded-md">
						<div class="grid grid-cols-4 gap-4 h-full">
    						<div class="flex items-center justify-center h-[80%] my-auto w-full border border-l-0 border-t-0 border-b-0 border-maincolor">
							<a href="/product?name={{this.product.name}}&id={{this.product._id}}">
        						{{this.product.name}}
							</a>
    						</div>
    						<div class="flex items-center justify-center h-[80%] my-auto w-full border border-l-0 border-t-0 border-b-0 border-maincolor">
    						    &#8369; {{formatPrice this.product.price}}
    						</div>
    						<div class="flex items-center justify-center h-[80%] my-auto w-full border border-l-0 border-t-0 border-b-0 border-maincolor">
     							{{this.quantity}}
    						</div>
							<div class="flex items-center justify-center w-full ">
								<div class="flex items-center justify-center w-full h-[80%]">
    								<a href="/remove-from-cart?id={{this.product._id}}&quantity={{this.quantity}}&uid={{this.uniqueID}}"
       								class="flex items-center justify-center border border-maincolor text-maincolor hover:bg-maincolor hover:text-white hover:border-white px-4 rounded-lg mx-[4px] h-[35px]">
        								Remove
    								</a>
								</div>
							</div>
						</div>
					</div>


					<div class="bg-maincolor w-32 py-3 text-center ml-auto mr-10 mt-10 text-white rounded-md" fun="row-price">
    					&#8369; {{multiply this.product.price this.quantity }}
					</div>
				</div>	

				

			</div>	

		</div>
			
		{{/each}}
	{{else}}
		<p>Add things to your cart!</p>
	{{/if}}
    
</div>
<div class="container flex flex-col gap-4 mx-auto px-4 py-8  bg-white bg-opacity-80 shadow-md rounded-md">
	<div class=" m-5 py-1 pl-2 border-b-2 border-b-maincolor font-Inika text-2xl w-48 ">Guest Details</div>
				<div class="flex flex-col bg-white p-2 mx-5 rounded-md ">
			
					<div class="grid grid-cols-2 gap-2 h-[300px]">
							<div class="md:w-1/2 md:order-1 p-6 bg-white rounded-lg shadow-md md:mr-4">
								<div class="mb-4">
									<label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
									<input type="text" id="guest-fname" name="firstName" class="mt-1 p-3 w-full border bg-white border-gray-300 rounded-md shadow-sm" required>
								</div>

								<div class="mb-4">
									<label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
									<input type="text" id="guest-lname" name="lastName" class="mt-1 p-3 w-full border bg-white border-gray-300 rounded-md shadow-sm" required>
								</div>

								<div class="mb-4">
									<label for="state" class="block text-sm font-medium text-gray-700">State</label>
									<input type="text" id="guest-state" name="state" class="mt-1 p-3 w-full border bg-white border-gray-300 rounded-md shadow-sm" required>
								</div>
							</div>

							<div class="md:w-1/2 md:order-2 p-6 bg-white rounded-lg shadow-md md:mr-4">
								<div class="mb-4">
									<label for="city" class="block text-sm font-medium text-gray-700">City</label>
									<input type="text" id="guest-city" name="city" class="mt-1 p-3 w-full border bg-white border-gray-300 rounded-md shadow-sm" required>
								</div>

								<div class="mb-4">
									<label for="postal-code" class="block text-sm font-medium text-gray-700">Postal Code</label>
									<input type="text" id="guest-postalcode" name="postalCode" class="mt-1 p-3 w-full border bg-white border-gray-300 rounded-md shadow-sm" required>
								</div>

								<div class="mb-4">
									<label for="address-1" class="block text-sm font-medium text-gray-700">Address 1</label>
									<input type="text" id="guest-line1" name="address1" class="mt-1 p-3 w-full border bg-white border-gray-300 rounded-md shadow-sm" required>
								</div>

								<div class="mb-4">
									<label for="address-2" class="block text-sm font-medium text-gray-700">Address 2 (Optional)</label>
									<input type="text" id="guest-line2" name="address2" class="mt-1 p-3 w-full border bg-white border-gray-300 rounded-md shadow-sm">
								</div>
							</div>
					</div>

				</div>

		
							<div class="md:w-1/2 md:order-3 p-6 bg-white rounded-lg ">
									<div class="flex -mx-3">
									
											<button class=" bg-maincolor w-80 py-5 text-white mx-auto" id="submit" type="submit">Checkout ₱{{total}}</button>
									
									</div>										
							</div>
</div>
