<div class="bg-white p-6 rounded-lg shadow-md max-w-7xl mx-auto my-8">
    <div class="flex flex-wrap justify-between mb-6">
       
        <div class="w-full md:w-1/3 mb-4 md:mb-0 md:border-r md:border-blue-200 pr-4">
            <div class="border-b border-blue-500 pb-2 mb-4">
                <h2 class="text-2xl font-bold text-blue-800">Refund Information</h2>
            </div>
            <div class="grid grid-cols-2 gap-6 text-blue-900 mb-6">
                <div class="font-bold">Refund ID:</div>
                <div class="break-words">{{refundID}}</div>

                <div class="font-bold">Email:</div>
                <div class="break-words">{{email}}</div>

                <div class="font-bold">Date of Order:</div>
                <div class="break-words">{{dateOfOrder}}</div>

                <div class="font-bold">Date of Refund:</div>
                <div class="break-words">{{dateOfRefund}}</div>
            </div>
        </div>

       
        <div class="w-full md:w-1/3 mb-4 md:mb-0 md:border-r md:border-blue-200 px-4">
            <div class="border-b border-blue-500 pb-2 mb-4">
                <h2 class="text-2xl font-bold text-blue-800">Item Information</h2>
            </div>
            <div class="grid grid-cols-2 gap-6 text-blue-900 mb-6">
                <div class="font-bold">Item Name:</div>
                <div class="break-words">{{itemName}}</div>

                <div class="font-bold">Item ID:</div>
                <div class="break-words">{{itemID}}</div>

                <div class="font-bold">Price:</div>
                <div class="break-words">{{price}}</div>

                <div class="font-bold">Amount:</div>
                <div class="break-words">{{amount}}</div>
            </div>
        </div>

        
        <div class="w-full md:w-1/3 pl-4">
            <div class="border-b border-blue-500 pb-2 mb-4">
                <h2 class="text-2xl font-bold text-blue-800">Total and Status</h2>
            </div>
            <div class="grid grid-cols-2 gap-6 text-blue-900">
                <div class="font-bold">Total Amount:</div>
                <div class="break-words">{{totalAmount}}</div>

                <div class="font-bold">Reason:</div>
                <div class="break-words">{{reason}}</div>

                <div class="font-bold">Comments:</div>
                <div class="break-words">{{comments}}</div>

                <div class="font-bold">Status:</div>
                <div class="break-words">{{status}}</div>


                {{#if (eq status "Refund denied")}}
                    <div class="font-bold">Denial Reason:</div>
                    <div class="break-words">{{denialReason}}</div>
                {{/if}}
            </div>
        </div>
    </div>
    
    <div class="grid grid-cols-3 gap-4">
        {{#each evidence}}
        <img src="{{this}}" alt="Image" class="rounded-lg shadow-md">
        {{/each}}
    </div>
</div>
